# This file specifies files that are *not* uploaded to Google Cloud
# using gcloud. It follows the same syntax as .gitignore, with the addition of
# "#!include" directives (which insert the entries of the given .gitignore-style
# file at that point).
#
# For more information, run:
#   $ gcloud topic gcloudignore
#
.coverage
.dockerignore
.DS_Store
.github
.gitignore
.pytest_cache/
.readthedocs.yaml
.ruff_cache/
.venv/
.vscode/
.whitesource
build/
CHANGELOG.md
dist/
Dockerfile.*
docs/
junit/
LICENSE
README.rst
samples/
tests/

# Python pycache:
__pycache__/
# Ignored by the build system
/setup.cfg
